 <!-- Required meta tags -->
 <meta charset="utf-8">
 <link href='https://fonts.googleapis.com/css?family=Basic' rel='stylesheet'>
 <meta name="viewport"
   content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=0" />

 <link rel="icon" href="https://classroom-training-bucket.s3.ap-south-1.amazonaws.com/abc/IMG_20220529_164956_573.jpg"
   type="image/x-icon">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


   <!-- Bootstrap CSS -->
   <link href='https://fonts.googleapis.com/css?family=Basic' rel='stylesheet'>

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 <style>
   h2 {
     text-align: center;
     color: black;
     font-size: 15px;
     font-weight: bold;
   }

   h2 {
     color: rgb(255, 255, 255);
   }

   span {
     color: red;
   }



   .card {
     box-shadow: 0 15px 25px rgba(27, 24, 24, 0.2);
     border-radius: 50px;
     backdrop-filter: blur(14px);
     background-color: rgba(255, 255, 255, 0.24);

   }

   body {
     background-image: linear-gradient(rgb(113, 231, 113), rgb(255, 255, 12), rgb(113, 231, 113));

     background-attachment: fixed;
     font-family: 'Basic';
   }

   .form-control{
      border-radius: 50px;
      padding: 30px 60px;
      border: none;
      font-size: 20px;
      }
      .btn{
      border-radius: 50px;
      padding: 13px 60px;
      border: none;
      
      }
      

   img {

     text-align: center;
     width: 30%;

   }

   h4,
   p {
     font-size: 20px;
     color: rgb(245, 244, 251);
   }

   h6 {
     color: black;
   }

   h2{
     font-size: 40px;
   }

   @media (max-width: 480px) {

     h2,h4 {
       font-size: 30px;
       color: rgb(255, 255, 255);
     }

     h6 {
       color: black;
       font-size: 10px;
     }

     img {
       width: 50%;
     }

     h1,h3 {
       font-size: 15px;
       font-weight: bold;
     }
     p{
        font-size: 14px;
     }



   }
 </style>
</head>
<div class="jumbotron jumbotron bg-dark">
 <div class="container">
   <h2 class="display"><span>A</span>man<span> W</span>eather <span> API</span></h2>
 </div>
</div>