<!doctype html>
<html lang="en">

<head>
  <title>Aman weather api</title>
  <!-- Required meta tags -->

  <%- include('./header.ejs'); %>

</head>
<br><br>
  <div class="container">
    <form action="/weather" method="get">
      <div class="form-group text-center">
        <h2>Find weather details</h2><br>
        <img src="https://www.pngall.com/wp-content/uploads/11/Weather-No-Background.png" class="img-fluid">
        <br><br><br>
        <input type="text" name="stateName" id="" class="form-control" placeholder="city name"
          aria-describedby="helpId" required><br>
          <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-search p-2"></i></button>
        
      </div>
    </form>
  </div><br><br><br><br><br><br><br><br><br><br>
  <%- include('./footer.ejs'); %>
</body>

</html>